body {
  background-color: #f5f5f5;
}
.search {
  position: relative;
  width: 100%;
  height: 5rem;
}
.search input {
  width: 90%;
  height: 3rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
  padding-left: 0.5rem;
}
.search div {
  position: absolute;
  top: 30%;
  right: 10%;
}
.search div img {
  width: 1.5rem;
}
nav {
  width: 100%;
  background-color: #fff;
  height: 4rem;
  line-height: 4rem;
}
nav ul li {
  text-align: center;
  float: left;
  width: 25%;
}
nav ul li > div {
  position: relative;
}
nav ul li > div p {
  font-size: 1.6rem;
  font-weight: 700;
  color: #666a6a;
}
nav ul li > div > div {
  position: absolute;
  top: 35%;
  left: 75%;
  width: 0;
  height: 0;
  line-height: 0;
  border: 0.5rem solid transparent;
  border-top: 0.5rem solid #ccc;
}
.nav1,
.nav2,
.nav3,
.nav4 {
  position: absolute;
  top: 0;
}
.nav1 {
  width: 100%;
  height: 100%;
}
.nav1 > div:nth-of-type(1) {
  height: 60%;
  width: 100%;
  background-color: #fff;
}
.nav1 > div:nth-of-type(1) .top {
  height: 4rem;
  line-height: 4rem;
  background-color: #fff;
}
.nav1 > div:nth-of-type(1) .top li {
  text-align: center;
  float: left;
  width: 25%;
}
.nav1 > div:nth-of-type(1) .top li > div {
  position: relative;
}
.nav1 > div:nth-of-type(1) .top li > div p {
  font-size: 1.6rem;
  font-weight: 700;
  color: #666a6a;
}
.nav1 > div:nth-of-type(1) .top li > div > div {
  position: absolute;
  top: 35%;
  left: 75%;
  width: 0;
  height: 0;
  line-height: 0;
  border: 0.5rem solid transparent;
  border-top: 0.5rem solid #ccc;
}
.nav1 > div:nth-of-type(1) .top li:nth-of-type(1) > div p {
  color: #ff8a00;
}
.nav1 > div:nth-of-type(1) .top li:nth-of-type(1) > div > div {
  position: absolute;
  top: 25%;
  left: 75%;
  width: 0;
  height: 0;
  line-height: 0;
  border: 0.5rem solid transparent;
  border-bottom: 0.5rem solid #ff8a00;
}
.nav1 > div:nth-of-type(1) .bottom {
  float: left;
  width: 33.33%;
  margin-top: 1rem;
}
.nav1 > div:nth-of-type(1) .bottom ul {
  margin-left: -2.5rem;
}
.nav1 > div:nth-of-type(1) .bottom ul li {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  text-align: center;
}
.nav1 > div:nth-of-type(1) .bottom ul .one {
  color: #ff9f2f;
}
.nav1 > div:nth-of-type(1) .bottom:nth-of-type(1) {
  height: 87%;
  background-color: #f0f0f0;
}
.nav1 > div:nth-of-type(1) .bottom:nth-of-type(1) ul li {
  font-size: 1.6rem;
  font-weight: 700;
  color: #666a6a;
  padding-bottom: 1rem;
}
.nav1 > div:nth-of-type(1) .bottom:nth-of-type(1) ul li:nth-of-type(1) {
  background-color: #fff;
  color: #ff9737;
}
.nav1 > div:nth-of-type(2) {
  height: 40%;
  background-color: rgba(0, 0, 0, 0.1);
}
.nav2 {
  width: 100%;
  height: 100%;
}
.nav2 > div:nth-of-type(1) {
  height: 60%;
  width: 100%;
  background-color: #fff;
}
.nav2 > div:nth-of-type(1) .top {
  height: 4rem;
  line-height: 4rem;
  background-color: #fff;
}
.nav2 > div:nth-of-type(1) .top li {
  text-align: center;
  float: left;
  width: 25%;
}
.nav2 > div:nth-of-type(1) .top li > div {
  position: relative;
}
.nav2 > div:nth-of-type(1) .top li > div p {
  font-size: 1.6rem;
  font-weight: 700;
  color: #666a6a;
}
.nav2 > div:nth-of-type(1) .top li > div > div {
  position: absolute;
  top: 35%;
  left: 75%;
  width: 0;
  height: 0;
  line-height: 0;
  border: 0.5rem solid transparent;
  border-top: 0.5rem solid #ccc;
}
.nav2 > div:nth-of-type(1) .top li:nth-of-type(2) > div p {
  color: #ff8a00;
}
.nav2 > div:nth-of-type(1) .top li:nth-of-type(2) > div > div {
  position: absolute;
  top: 25%;
  left: 75%;
  width: 0;
  height: 0;
  line-height: 0;
  border: 0.5rem solid transparent;
  border-bottom: 0.5rem solid #ff8a00;
}
.nav2 > div:nth-of-type(1) .bottom {
  width: 100%;
  margin-top: 1rem;
}
.nav2 > div:nth-of-type(1) .bottom ul {
  margin: 0 1.5rem;
}
.nav2 > div:nth-of-type(1) .bottom ul li {
  font-size: 1.3rem;
  border-bottom: 0.1rem solid #ccc;
}
.nav2 > div:nth-of-type(1) .bottom ul li:last-of-type {
  border: 0;
}
.nav2 > div:nth-of-type(1) .bottom:nth-of-type(1) {
  height: 87%;
}
.nav2 > div:nth-of-type(1) .bottom:nth-of-type(1) ul li {
  font-size: 1.2rem;
  color: #666a6a;
  padding: 1rem 0;
}
.nav2 > div:nth-of-type(2) {
  height: 40%;
  background-color: rgba(0, 0, 0, 0.3);
}
.nav3 {
  width: 100%;
  height: 100%;
}
.nav3 > div:nth-of-type(1) {
  height: 60%;
  width: 100%;
  background-color: #fff;
}
.nav3 > div:nth-of-type(1) .top {
  height: 4rem;
  line-height: 4rem;
  background-color: #fff;
}
.nav3 > div:nth-of-type(1) .top li {
  text-align: center;
  float: left;
  width: 25%;
}
.nav3 > div:nth-of-type(1) .top li > div {
  position: relative;
}
.nav3 > div:nth-of-type(1) .top li > div p {
  font-size: 1.6rem;
  font-weight: 700;
  color: #666a6a;
}
.nav3 > div:nth-of-type(1) .top li > div > div {
  position: absolute;
  top: 35%;
  left: 75%;
  width: 0;
  height: 0;
  line-height: 0;
  border: 0.5rem solid transparent;
  border-top: 0.5rem solid #ccc;
}
.nav3 > div:nth-of-type(1) .top li:nth-of-type(3) > div p {
  color: #ff8a00;
}
.nav3 > div:nth-of-type(1) .top li:nth-of-type(3) > div > div {
  position: absolute;
  top: 25%;
  left: 75%;
  width: 0;
  height: 0;
  line-height: 0;
  border: 0.5rem solid transparent;
  border-bottom: 0.5rem solid #ff8a00;
}
.nav3 > div:nth-of-type(1) .bottom {
  width: 100%;
  margin-top: 1rem;
}
.nav3 > div:nth-of-type(1) .bottom ul {
  margin: 0 1.5rem;
}
.nav3 > div:nth-of-type(1) .bottom ul li {
  position: relative;
  font-size: 1.3rem;
  border-bottom: 0.1rem solid #ccc;
}
.nav3 > div:nth-of-type(1) .bottom ul li span {
  position: absolute;
  top: 40%;
  left: 90%;
  width: 1rem;
  height: 1rem;
  border: 1px solid #ccc;
}
.nav3 > div:nth-of-type(1) .bottom ul li .yes {
  background: url(../image/SecondHandList/ok.png) no-repeat;
  background-size: 1.2rem;
  border: 0.1rem solid #ff8a00;
}
.nav3 > div:nth-of-type(1) .bottom ul li:last-of-type {
  border: 0;
}
.nav3 > div:nth-of-type(1) .bottom > button {
  height: 4rem;
  width: 90%;
  margin: 0 5%;
  background-color: #ff8a00;
  color: #fff;
  border: 0;
}
.nav3 > div:nth-of-type(1) .bottom:nth-of-type(1) {
  height: 87%;
}
.nav3 > div:nth-of-type(1) .bottom:nth-of-type(1) ul li {
  font-size: 1.2rem;
  color: #666a6a;
  padding: 1rem 0;
}
.nav3 > div:nth-of-type(2) {
  height: 40%;
  background-color: rgba(0, 0, 0, 0.3);
}
.nav4 {
  width: 100%;
  height: 100%;
}
.nav4 > div {
  height: 100%;
  width: 100%;
  background-color: #fff;
}
.nav4 > div .top {
  height: 4rem;
  line-height: 4rem;
  background-color: #fff;
}
.nav4 > div .top li {
  text-align: center;
  float: left;
  width: 25%;
}
.nav4 > div .top li > div {
  position: relative;
}
.nav4 > div .top li > div p {
  font-size: 1.6rem;
  font-weight: 700;
  color: #666a6a;
}
.nav4 > div .top li > div > div {
  position: absolute;
  top: 35%;
  left: 75%;
  width: 0;
  height: 0;
  line-height: 0;
  border: 0.5rem solid transparent;
  border-top: 0.5rem solid #ccc;
}
.nav4 > div .top li:nth-of-type(4) > div p {
  color: #ff8a00;
}
.nav4 > div .top li:nth-of-type(4) > div > div {
  position: absolute;
  top: 25%;
  left: 75%;
  width: 0;
  height: 0;
  line-height: 0;
  border: 0.5rem solid transparent;
  border-bottom: 0.5rem solid #ff8a00;
}
.nav4 > div .bottom {
  width: 100%;
  margin-top: 1rem;
}
.nav4 > div .bottom ul {
  margin: 0 1.5rem;
}
.nav4 > div .bottom ul li {
  height: 100%;
  padding-bottom: 1rem;
  font-size: 1.3rem;
  border-bottom: 0.1rem solid #ccc;
}
.nav4 > div .bottom ul li > div:nth-of-type(1) p {
  height: 4rem;
  line-height: 4rem;
}
.nav4 > div .bottom ul li > div:nth-of-type(2) span {
  display: inline-block;
  padding: 0.3rem 0;
  width: 6rem;
  text-align: center;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}
.nav4 > div .bottom ul li:last-of-type {
  border: 0;
}
article ul li {
  margin: 0 1.5rem;
  padding: 2rem 0;
  border-bottom: 2px solid #fabf79;
}
article ul li .left,
article ul li .right {
  float: left;
}
article ul li .left {
  margin-right: 1rem;
}
article ul li .left img {
  width: 7rem;
}
article ul li .right h4 {
  margin-bottom: 1rem;
}
article ul li .right p {
  margin-bottom: 0.1rem;
  color: #b7b1b5;
}
article ul li .right p span {
  color: #ff8c28;
  font-weight: 700;
}
article ul li .right p:nth-of-type(1) {
  color: #000;
}
article ul li:last-of-type {
  border: 0;
}
